body {
  background-color: rgb(236, 236, 229);
}

.btn {
  appearance: none;
  -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  padding: 6px;
  min-width: 100px;
  border: 0px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;

  background: #ededed;
  color: #000;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: content-box;
  max-width: 80vw;
}

header {
  width: 100%;
  height: 20%;
  border-color: red;
  position: sticky;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

select {
  background-color: rgb(236, 236, 229);
  padding: 0.3rem;
  margin: 0.3rem;
  text-align: center;
}

.container {
  height: 100%;
  margin: auto;
  /* border: 1px solid blue; */
  color: black;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas al 50% de ancho cada una */
  gap: 20px; /* Espacio entre las columnas */
}

.stats {
  height: 100%;
  border-color: blue;
}

.gfx {
  height: 100%;
  margin: auto;
  box-sizing: content-box;
  height: 100%;
  border-color: red;
}

h1 {
  text-align: right;
  margin: 0;
}

.listname {
  font-size: small;
}
